Repository hashicorp/terraform-cdk, pull requests merged in 2021-05, with the labels that each got.

#617 Update resource regexp to match terraform spec
  packages/cdktf-cli/bin/cmds/ui/terraform-context.tsx
Labels: cdktf-cli

#722 docs: remove redundant commands
  docs/getting-started/csharp.md
  docs/getting-started/java.md
Labels: documentation

#724 fix(test): update go integration test
  test/go/synth-app/cdktf.json
  test/go/synth-app/go.mod.append
  test/go/synth-app/main.go
Labels: golang, testing
