Repository hashicorp/terraform-cdk, pull requests merged in 2022-11, with the labels that each got.

#2325 chore: add GH Action that labels PRs
  .github/workflows/pr-size.yml
Labels: size/s

#2328 chore: improve release pipelines
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/s

#2330 chore: dedupe concurrency prefix
  .github/workflows/unit-@cdktf-api-core.yml
  .github/workflows/unit-@cdktf-commons.yml
  .github/workflows/unit-@cdktf-hcl2cdk.yml
  .github/workflows/unit-@cdktf-hcl2json.yml
  .github/workflows/unit-@cdktf-provider-generator.yml
  .github/workflows/unit-all.yml
  .github/workflows/unit-cdktf-cli.yml
  .github/workflows/unit-cdktf.yml
Labels: ci/run-unit, size/s

#2158 fix: Prevent any release jobs from triggering if no release is required
  .github/workflows/release.yml
  CONTRIBUTING.md
Labels: size/s

#2335 chore: add workflows to auto-close and lock stale issues and PRs
  .github/workflows/lock.yml
  .github/workflows/stale.yml
Labels: size/s

#2343 chore: fix stale workflow
  .github/workflows/stale.yml
Labels: size/xs

#2324 chore(docs): Update remote-backends.mdx
  website/docs/cdktf/concepts/remote-backends.mdx
Labels: size/xs

#2346 fix: scoped packages need a publish config to be published to npm
  packages/@cdktf/cli-core/package.json
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2347 fix: scoped packages need a publish config to be published to npm
  packages/@cdktf/commons/package.json
Labels: ci/run-unit/@cdktf/commons, size/xs

#2348 fix(cli): don't fail with UsageError when determining whether a provider is installed as a pre-built provider
  packages/@cdktf/cli-core/src/lib/dependencies/dependency-manager.ts
Labels: size/s, ci/run-unit/@cdktf/cli-core

#2351 chore: document go version
  CONTRIBUTING.md
Labels: size/xs

#2362 chore: only trigger unit tests once
  .github/workflows/pr-unit.yml
Labels: size/xs

#2360 fix: Transition to planned state after cost estimation and policy checks with TFC/TFE
  packages/@cdktf/cli-core/src/lib/models/terraform-cloud.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs
