Repository hashicorp/terraform-cdk, pull requests merged in 2022-12, with the labels that each got.

#2364 fix: pin yargs types version
  packages/@cdktf/cli-core/package.json
  packages/cdktf-cli/package.json
  yarn.lock
Labels: size/s, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2369 chore: disable python edge test
  test/python/edge/test.ts
Labels: size/xs

#2366 feat(examples): python upcloud server
  examples/python/upcloud-server/.gitignore
  examples/python/upcloud-server/Pipfile
  examples/python/upcloud-server/Pipfile.lock
  examples/python/upcloud-server/README.md
  examples/python/upcloud-server/cdktf.json
  examples/python/upcloud-server/help
  examples/python/upcloud-server/main.py
  examples/python/upcloud-server/package.json
Labels: ci/run-examples, size/m

#2378 chore: update workflows for new workflow endpoint
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs

#2379 chore: fix finalizing the Sentry release
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/s

#2381 chore: move from pr target to pr
  .github/workflows/examples-pr.yml
  .github/workflows/integration-pr.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-unit.yml
  .github/workflows/update-snapshots.yml
Labels: size/s

#2384 chore: skip hcl2cdk tests for now
  packages/@cdktf/hcl2cdk/package.json
Labels: ci/run-unit/@cdktf/hcl2cdk, size/xs

#2383 chore: Update Digital Team Files
  website/Makefile
Labels: size/xs

#2389 chore: release 0.14.2
  CHANGELOG.md
  package.json
Labels: size/s

#2390 chore: github action expressions can only access items within their declaration
  .github/workflows/release.yml
Labels: size/s

#2391 chore: add workflow_dispatch to be able to start a release manually
  .github/workflows/release.yml
Labels: size/xs

#2394 fix: Don't do additional operations on release output
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs

#2371 chore: add provider-integration tests conditionally for PRs and to releases
  .github/labeler.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-provider-integration.yml
  .github/workflows/provider-integration.yml
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/s, ci/provider-integration

#2392 fix(hcl2cdk): snapshot generated code instead of snapshotting that the function returns a promise
  packages/@cdktf/hcl2cdk/test/__snapshots__/hcl2cdk.test.ts.snap
  packages/@cdktf/hcl2cdk/test/hcl2cdk.test.ts
Labels: size/m, ci/run-unit/@cdktf/hcl2cdk

#2386 feat(cli): prompt added in init - asks to use TFC when credentials are present
  packages/cdktf-cli/src/bin/cmds/helper/init.ts
Labels: size/s, ci/run-unit/cdktf-cli

#2355 fix: add `required_version` to json schema
  packages/@cdktf/cli-core/src/lib/terraform-json.ts
Labels: ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2363 chore: increase operations per run of stale workflow
  .github/workflows/stale.yml
Labels: size/xs

#2285 chore: add Terraform `1.3.4` to Docker container
  .terraform.versions.json
Labels: size/xs

#2397 fix: skip confirming on auto-apply enabled tfc workspaces
  packages/@cdktf/cli-core/src/lib/models/terraform-cloud.ts
Labels: ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2398 fix: add completed tfc pending states
  packages/@cdktf/cli-core/src/lib/models/terraform-cloud.ts
Labels: ci/run-integration, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2403 fix: discard grep output to fix multiline issue with sentry release
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs

#2400 chore: update hcl2cdk tests to be 🟢
  .github/workflows/unit.yml
  packages/@cdktf/hcl2cdk/package.json
  packages/@cdktf/hcl2cdk/test/__snapshots__/iteration.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/provider.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/references.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/helpers/convert.ts
Labels: ci/run-examples, size/s, ci/run-unit/@cdktf/commons, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json, ci/run-unit/@cdktf/provider-generator, ci/run-unit/cdktf-cli, ci/run-unit/cdktf, ci/run-unit/@cdktf/cli-core

#2405 fix: move vercel file to get it to be more silent on PRs that don't change the docs
  vercel.json
Labels: size/xs

#2408 fix(cli): cost estimated is the final state
  packages/@cdktf/cli-core/src/lib/models/terraform-cloud.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2410 fix: add path: dist for npm and pypi
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs

#2412 chore: fix homebrew deploy step
  .github/workflows/release.yml
Labels: size/xs

#2418 chore: remove long-running hooks
  package.json
Labels: size/xs

#1955 chore: replace TF Cloud implementation with TF CLI
  .github/workflows/examples.yml
  .github/workflows/integration.yml
  .github/workflows/pr-unit.yml
  .github/workflows/release.yml
  .github/workflows/release_next.yml
  .terraform.versions.json
  CHANGELOG.md
  package-lock.json
  packages/@cdktf/cli-core/package.json
  packages/@cdktf/cli-core/src/lib/cdktf-project.ts
  packages/@cdktf/cli-core/src/lib/cdktf-stack.ts
  packages/@cdktf/cli-core/src/lib/dependencies/package-manager.ts
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
  packages/@cdktf/cli-core/src/lib/models/terraform-cloud.ts
  packages/@cdktf/cli-core/src/lib/models/terraform.ts
  packages/@cdktf/cli-core/src/test/lib/cdktf-project.test.ts
  packages/@cdktf/cli-core/src/test/lib/terraform-parallelism.test.ts
  packages/@cdktf/cli-core/src/test/models/terraform-cloud.test.ts
  packages/cdktf-cli/build.ts
  packages/cdktf-cli/src/bin/cmds/helper/terraform-check.ts
  test/package.json
  test/test-helper.ts
  test/typescript/diff-app-error/test.ts
  test/typescript/terraform-cloud/test.ts
  test/typescript/watch/test.ts
  test/yarn.lock
  website/docs/cdktf/create-and-deploy/environment-variables.mdx
  yarn.lock
Labels: ci/run-all, ci/run-examples, size/xl, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2422 chore: switch to SHA-based workflow pins
  .github/workflows/gh-action-upgrade.yml
Labels: size/xs

#2407 chore: add TFE information to TFC docs
  website/docs/cdktf/create-and-deploy/terraform-cloud.mdx
Labels: size/s

#2426 fix: Allow git access for sentry cli in docker
  .github/workflows/release_next.yml
Labels: size/xs

#2270 feat(cli): Add cdktf provider list command
  packages/@cdktf/cli-core/src/lib/cdktf-config.ts
  packages/@cdktf/cli-core/src/lib/dependencies/dependency-manager.ts
  packages/@cdktf/cli-core/src/lib/dependencies/package-manager.ts
  packages/@cdktf/cli-core/src/lib/dependencies/prebuilt-providers.ts
  packages/@cdktf/cli-core/src/lib/local-provider-constraints.ts
  packages/@cdktf/cli-core/src/lib/local-provider-versions.ts
  packages/cdktf-cli/package.json
  packages/cdktf-cli/src/bin/cmds/handlers.ts
  packages/cdktf-cli/src/bin/cmds/provider-list.ts
  packages/cdktf-cli/src/bin/cmds/provider.ts
  packages/cdktf-cli/src/bin/cmds/ui/provider-list.tsx
  test/csharp/provider-list-command/Program.cs
  test/csharp/provider-list-command/__snapshots__/test.ts.snap
  test/csharp/provider-list-command/cdktf.json
  test/csharp/provider-list-command/test.ts
  test/go/provider-list-command/__snapshots__/test.ts.snap
  test/go/provider-list-command/cdktf.json
  test/go/provider-list-command/main.go
  test/go/provider-list-command/test.ts
  test/java/provider-list-command/Main.java
  test/java/provider-list-command/__snapshots__/test.ts.snap
  test/java/provider-list-command/cdktf.json
  test/java/provider-list-command/test.ts
  test/python/provider-list-command/__snapshots__/test.ts.snap
  test/python/provider-list-command/cdktf-pip.json
  test/python/provider-list-command/cdktf.json
  test/python/provider-list-command/main.py
  test/python/provider-list-command/requirements.txt
  test/python/provider-list-command/test.ts
  test/test-helper.ts
  test/typescript/provider-list-command/__snapshots__/test.ts.snap
  test/typescript/provider-list-command/cdktf.json
  test/typescript/provider-list-command/main.ts
  test/typescript/provider-list-command/test.ts
  website/docs/cdktf/cli-reference/commands.mdx
  yarn.lock
Labels: size/xl, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2179 feat: [Proposal] Enable non-escaping mode for tokens
  packages/cdktf/lib/tfExpression.ts
  packages/cdktf/lib/tokens/private/encoding.ts
  packages/cdktf/lib/tokens/private/resolve.ts
  packages/cdktf/lib/tokens/resolvable.ts
  packages/cdktf/lib/tokens/string-fragments.ts
  packages/cdktf/test/encoding.test.ts
  packages/cdktf/test/fqn.test.ts
  tools/documentation-generation/yarn.lock
  website/docs/cdktf/api-reference/csharp.mdx
  website/docs/cdktf/api-reference/go.mdx
  website/docs/cdktf/api-reference/java.mdx
  website/docs/cdktf/api-reference/python.mdx
  website/docs/cdktf/api-reference/typescript.mdx
  website/docs/cdktf/concepts/functions.mdx
Labels: ci/run-all, size/xl, ci/run-unit/cdktf

#2444 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#2448 fix: Expose provider matcher to jest
  packages/cdktf/lib/testing/adapters/jest.ts
  test/jest.config.js
  test/typescript/testing-matchers/__tests__/main-test.ts
  test/typescript/testing-matchers/cdktf.json
  test/typescript/testing-matchers/main.ts
  test/typescript/testing-matchers/test.ts
Labels: ci/run-integration, size/m, ci/run-unit/cdktf
