Repository hashicorp/terraform-cdk, pull requests merged in 2023-06, with the labels that each got.

#2908 chore: release 0.16.3
  CHANGELOG.md
  package.json
Labels: size/xs

#2901 chore: remove ad-m/github-push-action
  .github/workflows/update-snapshots.yml
Labels: size/s

#2906 fix: website typo
  website/docs/cdktf/develop-custom-constructs/publishing-and-distribution.mdx
Labels: size/xs

#2589 feat(provider-generator): Add docstring to main class generated for modules
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/__snapshots__/module-generator.test.ts.snap
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/module-generator.test.ts
  packages/@cdktf/provider-generator/lib/get/generator/module-generator.ts
Labels: size/m, ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#2909 chore: add merge queue and remove timechart
  .github/workflows/build.yml
  .github/workflows/linting.yml
  .github/workflows/pr-unit.yml
  .github/workflows/timechart.yml
Labels: size/s

#2716 chore(hcl2cdk): add testing infrastructure for convert in Python & CSharp
  packages/@cdktf/hcl2cdk/test/helpers/convert.ts
Labels: size/m, ci/run-unit/@cdktf/hcl2cdk

#2762 feat: make testing more resilient towards usage with app.synth
  packages/cdktf/lib/testing/matchers.ts
Labels: size/s, ci/run-unit/cdktf

#2714 fix(cli): Give hint when cdktf synth failed to create config
  packages/@cdktf/cli-core/src/lib/synth-stack.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2926 chore: pin all workflows after update
  .github/workflows/gh-action-upgrade.yml
Labels: size/s

#2933 fix(cli): exit ink app when done synthesizing
  packages/@cdktf/hcl2cdk/package.json
  packages/cdktf-cli/src/bin/cmds/ui/synth.tsx
  yarn.lock
Labels: size/m, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/cdktf-cli

#2924 chore: remove update snapshots CI job
  .github/workflows/update-snapshots.yml
Labels: size/m

#2925 chore: remove PR sizing
  .github/workflows/pr-labels.yml
Labels: size/s

#2938 chore: remove legacy comment
  packages/cdktf/lib/terraform-resource.ts
Labels: ci/run-unit/cdktf

#2947 fix(hcl2cdk): parse handling of null providers and aliases
  packages/@cdktf/hcl2json/go.mod
  packages/@cdktf/hcl2json/go.sum
Labels: ci/run-unit/@cdktf/hcl2json

#2922 fix: do not always overwrite global.performance
  packages/@cdktf/hcl2json/wasm/bridge_wasm_exec.js
Labels: ci/run-unit/@cdktf/hcl2json, size/xs

#2962 fix(tests): update integration test snapshot
  test/typescript/init-from-tf/__snapshots__/test.ts.snap
Labels: ci/run-integration
