Repository hashicorp/terraform-cdk, pull requests merged in 2023-07, with the labels that each got.

#2977 fix: Upgrade @inquirer/prompts to resolve #2952
  packages/cdktf-cli/package.json
  yarn.lock
Labels: ci/run-unit/cdktf-cli

#2978 chore: Add regression test for input on init
  packages/cdktf-cli/src/test/cmds/init.test.ts
Labels: ci/run-unit/cdktf-cli

#2959 fix(cli): Support PNPM when retrieving package dependency information
  packages/@cdktf/commons/src/debug.ts
Labels: ci/run-unit/@cdktf/commons

#3004 fix: remove old lerna option causing it to fail when building a matrix in CI runs
  lerna.json
Labels: ci/run-examples

#3015 chore: fix link to examples
  examples/README.md
Labels: ci/run-examples

#3014 fix(provider-generator): wrap dynamic block iterator .key and .value in Token.asString as simply concatenating it won't work in non-TS languages
  packages/@cdktf/hcl2cdk/lib/__tests__/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/lib/__tests__/findExpressionType.test.ts
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/lib/generation.ts
  packages/@cdktf/hcl2cdk/lib/variables.ts
Labels: ci/run-unit/@cdktf/hcl2cdk

#3020 chore(release): Release 0.17.2
  CHANGELOG.md
  cdk.tf/vercel.json
  package.json
  test/csharp/provider-add-command/test.ts
  test/go/provider-add-command/test.ts
  test/java/provider-add-command/test.ts
  test/test-helper.ts
Labels: ci/run-all, ci/run-integration

#3002 fix(docs): python docs for aspect
  examples/python/documentation/aspects.py
  website/docs/cdktf/concepts/aspects.mdx
Labels: ci/run-examples

#3029 fix: don't cross package boundaries for templates
  packages/@cdktf/cli-core/src/lib/index.ts
  packages/@cdktf/cli-core/src/lib/init.ts
  packages/cdktf-cli/build.ts
  packages/cdktf-cli/src/bin/cmds/helper/init-templates.ts
  packages/cdktf-cli/src/bin/cmds/helper/init.ts
  packages/cdktf-cli/src/bin/cmds/init.ts
Labels: ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#3033 fix: trying to fix tsc error by updating how we invoke ts projects
  test/provider-tests/template/cdktf.json
  test/typescript/asset/cdktf.json
  test/typescript/cross-stack-references/cdktf.json
  test/typescript/edge/cdktf.json
  test/typescript/init-remote-template/cdktf.json
  test/typescript/init-repeatedly/cdktf.json
  test/typescript/init-with-colors/cdktf.json
  test/typescript/modules/cdktf.json
  test/typescript/no-color-command-option-test/cdktf.json
  test/typescript/provider-add-command/cdktf.json
  test/typescript/provider-list-command/cdktf.json
  test/typescript/provider-upgrade-command/cdktf.json
  test/typescript/provider-upgrade/cdktf.json
  test/typescript/providers/cdktf.json
  test/typescript/synth-app/cdktf.json
  test/typescript/synth-error-annotations/cdktf.json
  test/typescript/watch/cdktf.json
Labels: ci/run-integration, ci/provider-integration

#3037 chore: clean up code a bit
  packages/@cdktf/cli-core/src/lib/get.ts
  packages/@cdktf/provider-generator/lib/get/constructs-maker.ts
  packages/cdktf-cli/src/bin/cmds/ui/get.tsx
Labels: ci/run-unit/@cdktf/provider-generator, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core, ci/provider-integration

#3018 fix: fix single quote escaping
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/tfExpressions.test.ts
  packages/@cdktf/hcl2json/lib/bridge.ts
  packages/@cdktf/hcl2json/lib/util.ts
Labels: ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json

#3003 fix(examples): Properly set the Aspect on the stack instead of on the S3Bucket only
  examples/python/documentation/aspects.py
Labels: ci/run-examples
