Repository hashicorp/terraform-cdk, pull requests merged in 2023-04, with the labels that each got.

#2758 fix(hcl2cdk): Heredocs expression parsing
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
Labels: size/s, ci/run-unit/@cdktf/hcl2cdk

#2750 chore: Enable type coercion again
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/lib/generation.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/iteration.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/jsiiLanguage.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/typeCoercion.test.ts.snap
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/test/findExpressionType.test.ts
  packages/@cdktf/hcl2cdk/test/helpers/convert.ts
  packages/@cdktf/hcl2cdk/test/iteration.test.ts
  packages/@cdktf/hcl2cdk/test/jsiiLanguage.test.ts
  packages/@cdktf/hcl2cdk/test/tfExpressions.test.ts
  packages/@cdktf/hcl2cdk/test/typeCoercion.test.ts
Labels: ci/run-unit/@cdktf/hcl2cdk, size/l

#2763 fix(hcl2cdk): use better fallbacks for resource and namespace nammings without a schema
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/resources.test.ts
  packages/@cdktf/provider-generator/lib/get/generator/resource-parser.ts
  packages/@cdktf/provider-generator/lib/index.ts
Labels: size/s, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#2760 chore(examples): Disable Java Gradle example
  examples/java/gradle-shared-module/package.json
Labels: ci/run-examples, size/xs

#2766 feat(lib): add support for terraform count
  packages/cdktf/lib/index.ts
  packages/cdktf/lib/terraform-count.ts
  packages/cdktf/lib/terraform-data-source.ts
  packages/cdktf/lib/terraform-resource.ts
  packages/cdktf/test/iterator.test.ts
Labels: size/s, ci/run-unit/cdktf

#2770 chore: upgrade our Docker image to be based on Node 0.16
  Dockerfile
Labels: size/xs

#2771 fix: Revert "chore: upgrade our Docker image to be based on Node 0.16"
  Dockerfile
Labels: size/xs

#2789 chore: upgrade our Docker image to be based on Node 0.16
  Dockerfile
Labels: size/xs

#2778 chore: update go version
  packages/cdktf-cli/templates/go/go.mod
Labels: ci/run-integration, ci/run-unit/cdktf-cli, size/xs

#2775 fix(hcl2cdk): Handle referencing lists, sets and maps better when converting
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/test/resources.test.ts
Labels: size/m, ci/run-unit/@cdktf/hcl2cdk

#2790 fix(cli): send terraform output before approval
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2791 feat(lib): fix using variables and locals directly in template strings
  packages/cdktf/lib/terraform-local.ts
  packages/cdktf/lib/terraform-variable.ts
  packages/cdktf/test/__snapshots__/local.test.ts.snap
  packages/cdktf/test/__snapshots__/variable.test.ts.snap
  packages/cdktf/test/local.test.ts
  packages/cdktf/test/variable.test.ts
Labels: size/s, ci/run-unit/cdktf

#2794 fix(lib): fix Symbol for Terraform dynamic expression causing crashes when using Iterator.dynamic() on blocks
  packages/cdktf/lib/terraform-dynamic-expression.ts
  packages/cdktf/test/dynamic-expression.test.ts
  packages/cdktf/test/helper/resource.ts
Labels: size/s, ci/run-unit/cdktf

#2797 chore: add chown to release process
  .github/workflows/release.yml
Labels: size/xs

#2802 fix(lib): allow propertyAccess to handle splat and resources
  packages/cdktf/lib/tfExpression.ts
  packages/cdktf/test/tfExpression.test.ts
Labels: size/s, ci/run-unit/cdktf

#2803 fix(cli): fix version constraint for Terraform provider including space
  packages/@cdktf/cli-core/src/lib/dependencies/dependency-manager.ts
  packages/@cdktf/cli-core/src/test/lib/dependencies/dependency-manager.test.ts
  packages/cdktf-cli/src/bin/cmds/helper/init.ts
Labels: size/s, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2806 chore: use nx feature for parallelizing and caching
  nx.json
  package.json
Labels: size/s

#2805 fix: type coercion on primitive values
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/lib/generation.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/typeCoercion.test.ts.snap
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/test/findExpressionType.test.ts
  packages/@cdktf/hcl2cdk/test/typeCoercion.test.ts
Labels: size/s, ci/run-unit/@cdktf/hcl2cdk

#2801 fix: Use property access when refrencing numeric and map accessors
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/externals.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/iteration.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/references.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/resource-meta-properties.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/typeCoercion.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/variables.test.ts.snap
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/test/references.test.ts
Labels: size/m, ci/run-unit/@cdktf/hcl2cdk

#2809 fix: Support index expressions
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/iteration.test.ts.snap
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/test/iteration.test.ts
Labels: size/m, ci/run-unit/@cdktf/hcl2cdk

#2811 fix(lib): Fix access expressions rendering invalid Terraform
  packages/cdktf/lib/tfExpression.ts
  packages/cdktf/test/iterator.test.ts
  packages/cdktf/test/tfExpression.test.ts
Labels: size/m, ci/run-unit/cdktf

#2812 fix(hcl2cdk): Handle multi-line strings better
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/resources.test.ts
  packages/@cdktf/hcl2cdk/test/tfExpressions.test.ts
  packages/@cdktf/hcl2json/lib/bridge.ts
  packages/@cdktf/hcl2json/lib/index.ts
  packages/@cdktf/hcl2json/lib/util.ts
Labels: ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json, size/l

#2808 feat(docs): Add example for TerraformCount to iterators.mdx
  examples/csharp/documentation/IteratorStack.cs
  examples/go/documentation/iterators.go
  examples/java/documentation/src/main/java/com/mycompany/app/MainIterator.java
  examples/python/documentation/iterators.py
  examples/typescript/documentation/iterators-count.ts
  examples/typescript/documentation/main.ts
  website/docs/cdktf/concepts/iterators.mdx
  website/docs/cdktf/concepts/providers.mdx
Labels: ci/run-examples, size/m

#2752 fix(docs): Fix typo in commands.mdx
  packages/cdktf-cli/src/bin/cmds/convert.ts
  website/docs/cdktf/cli-reference/commands.mdx
Labels: ci/run-unit/cdktf-cli, size/xs

#2813 fix: Accept nested quotes within strings
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2json/lib/util.ts
  packages/@cdktf/hcl2json/test/util.test.ts
Labels: size/s, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json

#2630 fix(provider-generator): fix resources named 'license' causing collisions with LICENSE file on case-insensitive filesystems for Go packages
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/__snapshots__/types.test.ts.snap
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/fixtures/incompatible-resource-names.test.fixture.json
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/types.test.ts
  packages/@cdktf/provider-generator/lib/get/generator/resource-parser.ts
Labels: size/m, ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#2756 chore(docs): change to `synth` from `synthScope` for #2755
  website/docs/cdktf/test/unit-tests.mdx
Labels: size/s

#2814 fix(tests): update edge provider tests
  test/csharp/edge/test.ts
  test/go/edge/test.ts
  test/java/edge/test.ts
  test/python/edge/test.ts
  test/typescript/edge/test.ts
  test/typescript/iterators/test.ts
Labels: ci/run-integration, size/s

#2826 chore: Refactor hcl2cdk to read nicer
  packages/@cdktf/hcl2cdk/lib/__tests__/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/lib/__tests__/expressions.test.ts
  packages/@cdktf/hcl2cdk/lib/__tests__/findExpressionType.test.ts
  packages/@cdktf/hcl2cdk/lib/coerceType.ts
  packages/@cdktf/hcl2cdk/lib/dynamic-blocks.ts
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/lib/generation.ts
  packages/@cdktf/hcl2cdk/lib/index.ts
  packages/@cdktf/hcl2cdk/lib/references.ts
  packages/@cdktf/hcl2cdk/lib/types.ts
  packages/@cdktf/hcl2cdk/lib/utils.ts
  packages/@cdktf/hcl2cdk/lib/variables.ts
  packages/@cdktf/hcl2json/lib/syntax-tree.ts
Labels: size/xl, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json

#2831 chore: Mock synth to make parallelism test fail less
  packages/@cdktf/cli-core/src/test/lib/terraform-parallelism.test.ts
Labels: size/m, ci/run-unit/@cdktf/cli-core

#2844 fix(cli): buffer the output from the Terraform CLI and only forward output that has been terminated by a newline
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
  packages/@cdktf/cli-core/src/test/models/deploy-machine.test.ts
Labels: ci/run-integration, size/m, ci/run-unit/@cdktf/cli-core

#2845 fix(cli): fix no-color flag passing
  packages/@cdktf/cli-core/src/lib/cdktf-project.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2847 chore(release): release 0.16.1
  CHANGELOG.md
  package.json
  tools/create-changelog.sh
Labels: size/s

#2848 chore(docs): update checkpoint file path that was moved to @cdktf/commons
  website/docs/cdktf/cli-reference/cli-configuration.mdx
  website/docs/cdktf/telemetry.mdx
Labels: size/xs

#2830 fix(cli): fix template for Go unit tests
  examples/go/google-cloudrun/main_test.go
  packages/@cdktf/cli-core/templates/go/main_test.go
  packages/cdktf-cli/templates/go/main_test.go
  website/docs/cdktf/test/unit-tests.mdx
Labels: ci/run-examples, size/s, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core
