Repository hashicorp/terraform-cdk, pull requests merged in 2023-05, with the labels that each got.

#2860 chore(cli): use correct dependency classification for core-cli api users
  packages/@cdktf/cli-core/package.json
Labels: size/s, ci/run-unit/@cdktf/cli-core

#2858 fix(lib): add more excludes to .npmignore
  packages/@cdktf/hcl2json/.npmignore
Labels: size/xs

#2866 fix: github action shouldn't use untrusted input
  .github/workflows/pr-copyright.yml
Labels: size/xs

#2863 fix(deps): make `jest` and `typescript` development dependencies
  packages/@cdktf/commons/package.json
Labels: size/s, ci/run-unit/@cdktf/commons

#2885 chore: Clean up github actions containing deprecated parts
  .github/workflows/integration.yml
Labels: ci/run-integration, size/xs

#2889 feat(lib): Enable declarationMap feature in TS compiler
  packages/@cdktf/cli-core/templates/typescript/tsconfig.json
  packages/@cdktf/cli-core/tsconfig.json
  packages/@cdktf/commons/tsconfig.json
  packages/@cdktf/hcl2cdk/tsconfig.json
  packages/@cdktf/hcl2json/tsconfig.json
Labels: ci/run-unit/@cdktf/commons, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json, ci/run-unit/@cdktf/cli-core, size/xs

#2890 chore: add keywords to all packages
  packages/@cdktf/cli-core/package.json
  packages/@cdktf/commons/package.json
  packages/@cdktf/hcl2cdk/package.json
  packages/@cdktf/hcl2json/package.json
  packages/@cdktf/provider-generator/package.json
  packages/cdktf-cli/package.json
  packages/cdktf/package.json
Labels: ci/run-unit/@cdktf/commons, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json, ci/run-unit/@cdktf/provider-generator, ci/run-unit/cdktf-cli, ci/run-unit/cdktf, ci/run-unit/@cdktf/cli-core, size/xs, ci/provider-integration

#2894 chore: nitpick GitHub issue templates
  .github/ISSUE_TEMPLATE/bug-report-prebuilt-providers.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: size/s

#2896 chore: release 0.16.2
  CHANGELOG.md
  package.json
Labels: size/s

#2899 chore: fix maven release
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs

#2900 chore: remove unused input from copywrite
  .github/workflows/pr-copyright.yml
Labels: size/xs

#2902 chore: fix maven
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs

#2904 chore: fix maven deploy
  .github/workflows/release.yml
  .github/workflows/release_next.yml
Labels: size/xs
