Repository hashicorp/terraform-cdk, pull requests merged in 2023-02, with the labels that each got.

#2554 feat(docs): Translate more examples to Go
  examples/go/documentation/aspects-validation.go
  examples/go/documentation/cdktf.json
  examples/go/documentation/constructs-scope.go
  examples/go/documentation/datasources-remote-state.go
  examples/go/documentation/functions.go
  examples/go/documentation/hcl-interop.go
  examples/go/documentation/main.go
  examples/go/documentation/operators.go
  examples/go/documentation/providers.go
  tools/documentation-code-snippets/package.json
  website/docs/cdktf/concepts/aspects.mdx
  website/docs/cdktf/concepts/constructs.mdx
  website/docs/cdktf/concepts/data-sources.mdx
  website/docs/cdktf/concepts/functions.mdx
  website/docs/cdktf/concepts/hcl-interoperability.mdx
  website/docs/cdktf/concepts/providers.mdx
Labels: ci/run-examples, size/l

#2560 feat(docs): Translate more examples to Go
  .github/workflows/examples.yml
  examples/go/documentation/cdktf.json
  examples/go/documentation/main.go
  examples/go/documentation/modules.go
  examples/go/documentation/outputs-usage.go
  examples/go/documentation/outputs.go
  examples/go/documentation/remote-backend.go
  examples/go/documentation/remote-state.go
  examples/go/documentation/resources-references.go
  examples/go/documentation/resources.go
  examples/go/documentation/tf-modules/my-local-module/main.tf
  examples/go/documentation/variables.go
  website/docs/cdktf/concepts/modules.mdx
  website/docs/cdktf/concepts/remote-backends.mdx
  website/docs/cdktf/concepts/resources.mdx
  website/docs/cdktf/concepts/variables-and-outputs.mdx
Labels: ci/run-examples, size/xl

#2587 fix(docs): Go post mortem review feedback
  examples/csharp/documentation/ReferencesStack.cs
  examples/csharp/documentation/TerraformHclModuleStack.cs
  examples/go/documentation/modules.go
  examples/go/documentation/resources-references.go
  examples/go/documentation/resources.go
  examples/java/documentation/src/main/java/com/mycompany/app/modules/MainCreateModules.java
  examples/java/documentation/src/main/java/com/mycompany/app/resources/MainResources.java
  examples/python/documentation/modules.py
  examples/python/documentation/resources.py
  examples/typescript/documentation/modules.ts
  website/docs/cdktf/concepts/modules.mdx
  website/docs/cdktf/concepts/remote-backends.mdx
  website/docs/cdktf/concepts/resources.mdx
Labels: ci/run-examples, size/m

#2580 fix(docs): fix typo in CSharp example
  examples/csharp/documentation/Main.cs
  website/docs/cdktf/concepts/stacks.mdx
Labels: ci/run-examples, size/xs

#2569 feat(docs): Translate more examples to Go
  examples/go/documentation/cdktf.json
  examples/go/documentation/iterators.go
  examples/go/documentation/main.go
  examples/go/documentation/myconstructs/docker-backend.go
  examples/go/documentation/myconstructs/vpc.go
  examples/go/documentation/stacks-cross-reference.go
  examples/go/documentation/stacks-dependencies.go
  examples/go/documentation/stacks-multiple.go
  examples/go/documentation/stacks-single.go
  examples/go/documentation/tokens.go
  website/docs/cdktf/concepts/iterators.mdx
  website/docs/cdktf/concepts/stacks.mdx
  website/docs/cdktf/concepts/tokens.mdx
Labels: ci/run-examples, size/l

#2571 fix(docs): camel -> snake case in resource escape hatches
  examples/csharp/documentation/ResourcesStack.cs
  examples/java/documentation/src/main/java/com/mycompany/app/resources/MainResources.java
  examples/python/documentation/resources.py
  examples/typescript/documentation/resources.ts
  website/docs/cdktf/concepts/resources.mdx
Labels: ci/run-examples, size/s

#2567 feat: also go through files not yet added to git
  tools/documentation-code-snippets/update-documentation-code-snippets.ts
Labels: size/s

#2523 fix(lib): Update special defaults
  packages/@cdktf/provider-generator/lib/get/generator/custom-defaults.ts
Labels: ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#2588 fix: switch back to offical image to fix issue with stale signature files
  Dockerfile
Labels: size/xs

#2570 chore: refactor 'needs upgrade'
  packages/@cdktf/cli-core/src/lib/cdktf-stack.ts
  packages/@cdktf/cli-core/src/lib/terraform-provider-lock.ts
  packages/@cdktf/cli-core/src/test/lib/terraform-provider-lock.test.ts
Labels: size/m, ci/run-unit/@cdktf/cli-core

#2572 chore: Don't run `terraform init` when not required
  packages/@cdktf/cli-core/src/lib/cdktf-stack.ts
  packages/@cdktf/cli-core/src/lib/terraform-provider-lock.ts
  packages/@cdktf/cli-core/src/test/lib/terraform-provider-lock.test.ts
Labels: ci/run-integration, size/s, ci/run-unit/@cdktf/cli-core

#2593 chore: additionally lock providers for linux only
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2564 chore: Update remaining Typescript documentation snippets
  examples/typescript/documentation/constructs.ts
  examples/typescript/documentation/functions.ts
  examples/typescript/documentation/iterators.ts
  examples/typescript/documentation/main.ts
  examples/typescript/documentation/package.json
  examples/typescript/documentation/stacks.ts
  website/docs/cdktf/concepts/constructs.mdx
  website/docs/cdktf/concepts/functions.mdx
  website/docs/cdktf/concepts/iterators.mdx
  website/docs/cdktf/concepts/stacks.mdx
  yarn.lock
Labels: ci/run-examples, size/m

#2598 chore(release): Update CHANGELOG.md and version to 0.15.3
  CHANGELOG.md
  package.json
Labels: size/s

#2591 feat(lib): Support adding Validations on App
  packages/cdktf/lib/app.ts
  packages/cdktf/test/app.test.ts
Labels: size/s, ci/run-unit/cdktf

#2625 chore: release 0.15.4
  CHANGELOG.md
  package.json
Labels: size/xs

#2596 fix(docs): remove exposed secrets in provider snippets
  examples/csharp/documentation/ProviderClassesStack.cs
  examples/go/documentation/providers.go
  examples/java/documentation/src/main/java/com/mycompany/app/providers/MainImportClasses.java
  examples/python/documentation/providers.py
  examples/typescript/documentation/providers.ts
  website/docs/cdktf/concepts/providers.mdx
Labels: ci/run-examples, size/m

#2618 chore(docs): remove inaccurate line about commercial support
  website/docs/cdktf/index.mdx
Labels: size/xs

#2633 fix(lib): zipmap arg validators
  packages/cdktf/lib/terraform-functions.ts
Labels: ci/run-integration, ci/run-unit/cdktf

#2655 chore: add SUPPORT.md
  .github/SUPPORT.md
Labels: size/xs

#2656 chore: add docs issue template
  .copywrite.hcl
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: size/s

#2660 chore: release 0.15.5
  CHANGELOG.md
  package.json
Labels: size/xs

#2661 chore: fix incorrect changelog
  CHANGELOG.md
Labels: size/xs

#2663 fix(docs): fix stack escape hatch override example for TS, Python, and Java
  examples/java/documentation/src/main/java/com/mycompany/app/stacks/MainStacks.java
  examples/python/documentation/stacks.py
  examples/typescript/documentation/stacks.ts
  website/docs/cdktf/concepts/stacks.mdx
Labels: ci/run-examples, size/s

#2595 fix(docs): source java iterator snippets from examples
  examples/java/documentation/cdktf.json
  examples/java/documentation/src/main/java/com/mycompany/app/MainIterator.java
  website/docs/cdktf/concepts/iterators.mdx
Labels: ci/run-examples, size/s

#2677 chore: set label to run integration tests if workflow file or test/ directory changes
  .github/labeler.yml
Labels: size/xs

#2666 chore: Automate go package copyright/license inculsion
  packages/cdktf/go-copyright-header.sh
  packages/cdktf/package.json
Labels: size/s, ci/run-unit/cdktf

#2676 fix: set older C# version until JSII releases an update and we can upgrade to v6.0
  .github/workflows/examples.yml
  .github/workflows/integration.yml
Labels: ci/run-integration, ci/run-examples, size/s

#2654 chore: create pull request template
  .github/pull_request_template.md
Labels: size/s
