Repository hashicorp/terraform-cdk, pull requests merged in 2023-03, with the labels that each got.

#2686 chore: Remove links within headers of documentation pages
  website/docs/cdktf/release/upgrade-guide-v0-10.mdx
  website/docs/cdktf/release/upgrade-guide-v0-11.mdx
  website/docs/cdktf/release/upgrade-guide-v0-9.mdx
Labels: size/s

#2673 feat(cli): Upgrade init template to .NET 6.0
  .github/workflows/examples.yml
  .github/workflows/integration.yml
  CHANGELOG.md
  CONTRIBUTING.md
  examples/csharp/aws/MyTerraformStack.csproj
  examples/csharp/azure/MyTerraformStack.csproj
  examples/csharp/documentation/MyTerraformStack.csproj
  examples/csharp/google/MyTerraformStack.csproj
  examples/csharp/ucloud/MyTerraformStack.csproj
  packages/@cdktf/cli-core/package.json
  packages/@cdktf/cli-core/src/lib/dependencies/package-manager.ts
  packages/@cdktf/cli-core/templates/csharp/MyTerraformStack.csproj
  packages/@cdktf/commons/package.json
  packages/@cdktf/hcl2cdk/package.json
  packages/@cdktf/provider-generator/package.json
  packages/cdktf-cli/package.json
  packages/cdktf-cli/templates/csharp/MyTerraformStack.csproj
  packages/cdktf/go-copyright-header.sh
  packages/cdktf/package.json
  test/package.json
  test/yarn.lock
  tools/build-example.js
  yarn.lock
Labels: ci/run-integration, ci/run-examples, size/m, ci/run-unit/@cdktf/commons, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/provider-generator, ci/run-unit/cdktf-cli, ci/run-unit/cdktf, ci/run-unit/@cdktf/cli-core, ci/provider-integration

#2687 chore(docs): Migrate link formats
  .github/workflows/check-legacy-links-format.yml
  website/docs/cdktf/api-reference/overview.mdx
  website/docs/cdktf/api-reference/provider.mdx
  website/docs/cdktf/cli-reference/cli-configuration.mdx
  website/docs/cdktf/cli-reference/commands.mdx
  website/docs/cdktf/concepts/aspects.mdx
  website/docs/cdktf/concepts/assets.mdx
  website/docs/cdktf/concepts/cdktf-architecture.mdx
  website/docs/cdktf/concepts/constructs.mdx
  website/docs/cdktf/concepts/data-sources.mdx
  website/docs/cdktf/concepts/functions.mdx
  website/docs/cdktf/concepts/hcl-interoperability.mdx
  website/docs/cdktf/concepts/iterators.mdx
  website/docs/cdktf/concepts/modules.mdx
  website/docs/cdktf/concepts/providers.mdx
  website/docs/cdktf/concepts/remote-backends.mdx
  website/docs/cdktf/concepts/resources.mdx
  website/docs/cdktf/concepts/stacks.mdx
  website/docs/cdktf/concepts/tokens.mdx
  website/docs/cdktf/concepts/variables-and-outputs.mdx
  website/docs/cdktf/create-and-deploy/aws-adapter.mdx
  website/docs/cdktf/create-and-deploy/best-practices.mdx
  website/docs/cdktf/create-and-deploy/configuration-file.mdx
  website/docs/cdktf/create-and-deploy/deployment-patterns.mdx
  website/docs/cdktf/create-and-deploy/environment-variables.mdx
  website/docs/cdktf/create-and-deploy/project-setup.mdx
  website/docs/cdktf/create-and-deploy/remote-templates.mdx
  website/docs/cdktf/create-and-deploy/terraform-cloud.mdx
  website/docs/cdktf/develop-custom-constructs/construct-design.mdx
  website/docs/cdktf/develop-custom-constructs/publishing-and-distribution.mdx
  website/docs/cdktf/examples-and-guides/examples.mdx
  website/docs/cdktf/examples-and-guides/refactoring.mdx
  website/docs/cdktf/index.mdx
  website/docs/cdktf/release/index.mdx
  website/docs/cdktf/release/upgrade-guide-v0-11.mdx
  website/docs/cdktf/release/upgrade-guide-v0-15.mdx
  website/docs/cdktf/release/upgrade-guide-v0-6.mdx
  website/docs/cdktf/telemetry.mdx
  website/docs/cdktf/test/unit-tests.mdx
Labels: size/l

#2693 fix(docs): Replace old terraform.io links
  cdk.tf/vercel.json
  packages/@cdktf/cli-core/src/lib/error-reporting.ts
  website/docs/cdktf/create-and-deploy/terraform-cloud.mdx
  website/docs/cdktf/develop-custom-constructs/construct-design.mdx
  website/docs/cdktf/develop-custom-constructs/publishing-and-distribution.mdx
Labels: size/s, ci/run-unit/@cdktf/cli-core

#2694 fix(lib): Update old terraform.io links
  packages/cdktf/lib/backends/artifactory-backend.ts
  packages/cdktf/lib/backends/azurerm-backend.ts
  packages/cdktf/lib/backends/cloud-backend.ts
  packages/cdktf/lib/backends/consul-backend.ts
  packages/cdktf/lib/backends/cos-backend.ts
  packages/cdktf/lib/backends/etcd-backend.ts
  packages/cdktf/lib/backends/etcdv3-backend.ts
  packages/cdktf/lib/backends/gcs-backend.ts
  packages/cdktf/lib/backends/http-backend.ts
  packages/cdktf/lib/backends/local-backend.ts
  packages/cdktf/lib/backends/s3-backend.ts
  packages/cdktf/lib/terraform-iterator.ts
  packages/cdktf/lib/terraform-provisioner.ts
  packages/cdktf/lib/terraform-variable.ts
  packages/cdktf/lib/tfExpression.ts
  website/docs/cdktf/api-reference/csharp.mdx
  website/docs/cdktf/api-reference/go.mdx
  website/docs/cdktf/api-reference/java.mdx
  website/docs/cdktf/api-reference/python.mdx
  website/docs/cdktf/api-reference/typescript.mdx
Labels: size/xl, ci/run-unit/cdktf

#2695 chore: add /dashboard short link
  cdk.tf/vercel.json
Labels: size/xs

#2697 fix: don't post about large PRs since this currently happens repeatedly and spams the timeline of PRs
  .github/workflows/pr-labels.yml
Labels: size/xs

#2659 feat(lib): Generate Terraform function bindings using `terraform metadata functions`
  CHANGELOG.md
  examples/python/documentation/stacks.py
  package.json
  packages/cdktf/lib/functions/helpers.ts
  packages/cdktf/lib/functions/terraform-functions.generated.ts
  packages/cdktf/lib/index.ts
  packages/cdktf/lib/terraform-functions.ts
  packages/cdktf/test/functions.test.ts
  test/python/terraform-functions/main.py
  tools/generate-function-bindings/.eslintignore
  tools/generate-function-bindings/.gitignore
  tools/generate-function-bindings/.npmignore
  tools/generate-function-bindings/README.md
  tools/generate-function-bindings/ambient.d.ts
  tools/generate-function-bindings/jest.config.js
  tools/generate-function-bindings/package.json
  tools/generate-function-bindings/package.sh
  tools/generate-function-bindings/scripts/constants.ts
  tools/generate-function-bindings/scripts/fetch-metadata.ts
  tools/generate-function-bindings/scripts/functions.json
  tools/generate-function-bindings/scripts/generate.ts
  tools/generate-function-bindings/tsconfig.json
  website/docs/cdktf/concepts/stacks.mdx
Labels: ci/run-integration, ci/run-examples, size/xl, ci/run-unit/@cdktf/api-core, ci/run-unit/cdktf

#2698 fix(cli): fix watch telemetry
  packages/@cdktf/cli-core/src/lib/cdktf-project.ts
  packages/@cdktf/cli-core/src/lib/synth-stack.ts
  packages/@cdktf/cli-core/src/lib/watch.ts
  tools/generate-function-bindings/scripts/constants.ts
  tools/generate-function-bindings/scripts/fetch-metadata.ts
Labels: size/s, ci/run-unit/@cdktf/cli-core

#2699 fix(tests): fix keyword argument for python test
  packages/cdktf/lib/terraform-functions.ts
  test/python/cross-stack-references/main.py
Labels: ci/run-integration, ci/run-unit/cdktf, size/xs

#2678 fix(lib): support objects with keys that need escaping like e.g. colons
  .github/workflows/update-snapshots.yml
  packages/cdktf/lib/tfExpression.ts
  packages/cdktf/test/functions.test.ts
  packages/cdktf/test/tfExpression.test.ts
  test/python/terraform-functions/__snapshots__/test.ts.snap
  test/typescript/iterators/test.ts
Labels: ci/run-integration, size/s, ci/run-unit/cdktf

#2700 fix(lib): make ComplexMap an interpolating parent
  packages/cdktf/lib/complex-computed-list.ts
Labels: ci/run-unit/cdktf, size/xs

#2701 chore: uprade jsii versions to latest
  .github/workflows/build.yml
  .github/workflows/integration.yml
  .github/workflows/provider-integration.yml
  .github/workflows/update-snapshots.yml
  .github/workflows/yarn-upgrade.yml
  examples/csharp/azure/cdktf.json
  packages/@cdktf/cli-core/package.json
  packages/@cdktf/hcl2cdk/package.json
  packages/cdktf-cli/package.json
  packages/cdktf/package.json
  test/package.json
  test/yarn.lock
  yarn.lock
Labels: ci/run-all, ci/run-integration, ci/run-examples, size/m, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/cdktf-cli, ci/run-unit/cdktf, ci/run-unit/@cdktf/cli-core, ci/provider-integration

#2707 chore: update jsii-srcmak in provider-generator
  packages/@cdktf/provider-generator/package.json
  yarn.lock
Labels: feature/integration-test, size/s, ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#2712 fix(cli): remove extra quotes
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
Labels: ci/run-unit/@cdktf/cli-core, size/xs

#2713 chore: Reduce warnings to get to the bottom of documentation issues
  examples/csharp/documentation/CrossStackReferenceStack.cs
  examples/csharp/documentation/MyTerraformStack.csproj
  examples/java/documentation/src/main/java/com/mycompany/app/stacks/MainStacks.java
  packages/cdktf/package.json
  tools/build-example.js
  yarn.lock
Labels: ci/run-examples, size/m, ci/run-unit/cdktf

#2719 Revert "feat(lib): Add `TerraformCachedAsset`"
  packages/cdktf/lib/private/fs.ts
  packages/cdktf/lib/terraform-cached-asset.ts
  packages/cdktf/lib/terraform-stack.ts
  packages/cdktf/package.json
  packages/cdktf/test/cached-assets.test.ts
  packages/cdktf/test/fixtures/cached-asset/README.md
Labels: size/m, ci/run-unit/cdktf

#2721 fix(lib): Don't append copyright header to version file used for releasing Go
  packages/cdktf/go-copyright-header.sh
Labels: ci/run-unit/cdktf, size/xs

#2725 chore: fix copyright headers automation
  .github/workflows/pr-copyright.yml
Labels: size/xs

#2724 refactor(hcl2json): rename wasm method to match its implementation and expose it more direct aswell
  packages/@cdktf/hcl2json/lib/index.ts
  packages/@cdktf/hcl2json/main.go
  packages/@cdktf/hcl2json/test/__snapshots__/hcl2json.test.ts.snap
  packages/@cdktf/hcl2json/test/hcl2json.test.ts
Labels: size/s, ci/run-unit/@cdktf/hcl2json

#2715 chore(docs): explain constructs in contrast to modules better
  website/docs/cdktf/concepts/constructs.mdx
Labels: size/m

#2737 fix(cli): remove deprecated tsconfig option
  examples/typescript/aws-cloudfront-proxy/tsconfig.json
  examples/typescript/aws-multiple-stacks/tsconfig.json
  examples/typescript/aws-prebuilt/tsconfig.json
  examples/typescript/azure-app-service/tsconfig.json
  examples/typescript/azure/tsconfig.json
  examples/typescript/backends/azurerm/tsconfig.json
  examples/typescript/backends/gcs/tsconfig.json
  examples/typescript/backends/remote/tsconfig.json
  examples/typescript/backends/s3/tsconfig.json
  examples/typescript/docker/tsconfig.json
  examples/typescript/google-cloudrun/tsconfig.json
  examples/typescript/google/tsconfig.json
  examples/typescript/kubernetes/tsconfig.json
  examples/typescript/ucloud/tsconfig.json
  examples/typescript/vault/tsconfig.json
  packages/@cdktf/cli-core/templates/typescript/tsconfig.json
Labels: ci/run-examples, size/s, ci/run-unit/@cdktf/cli-core

#2734 chore(hcl2cdk): prepare for convert using Terraform function bindings
  packages/@cdktf/hcl2cdk/lib/__tests__/functions.test.ts
  packages/@cdktf/hcl2cdk/lib/function-bindings/functions.generated.ts
  packages/@cdktf/hcl2cdk/lib/function-bindings/functions.ts
  packages/cdktf-cli/templates/typescript/tsconfig.json
  packages/cdktf/lib/functions/terraform-functions.generated.ts
  tools/generate-function-bindings/scripts/generate.ts
Labels: size/xl, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/cdktf-cli, ci/run-unit/cdktf

#2738 fix(docs): fix typo in upgrade-guide-v0-15.mdx
  website/docs/cdktf/release/upgrade-guide-v0-15.mdx
Labels: size/xs

#2729 chore: Add 'getExpressionAst' method to go bridge
  packages/@cdktf/hcl2cdk/test/hcl2cdk.test.ts
  packages/@cdktf/hcl2json/lib/index.ts
  packages/@cdktf/hcl2json/lib/references.ts
  packages/@cdktf/hcl2json/lib/syntax-tree.ts
  packages/@cdktf/hcl2json/main.go
  packages/@cdktf/hcl2json/test/__snapshots__/expressions.test.ts.snap
  packages/@cdktf/hcl2json/test/expressions.test.ts
Labels: ci/run-all, size/xl, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json

#2740 chore: Add tree traversal, and better types for terraform expression AST
  packages/@cdktf/hcl2json/lib/index.ts
  packages/@cdktf/hcl2json/lib/syntax-tree.ts
Labels: size/m, ci/run-unit/@cdktf/hcl2json

#2739 feat(lib): TerraformIterators allow chaining
  packages/cdktf/lib/terraform-data-source.ts
  packages/cdktf/lib/terraform-module.ts
  packages/cdktf/lib/terraform-resource.ts
  packages/cdktf/test/helper/data-source.ts
  packages/cdktf/test/iterator.test.ts
Labels: size/s, ci/run-unit/cdktf

#2744 chore: Use new Terraform Expression AST for generating Typescript expression
  packages/@cdktf/hcl2cdk/lib/expressions.ts
  packages/@cdktf/hcl2cdk/lib/generation.ts
  packages/@cdktf/hcl2cdk/test/__snapshots__/iteration.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/jsiiLanguage.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/locals.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/provider.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/references.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/resources.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/tfExpressions.test.ts.snap
  packages/@cdktf/hcl2cdk/test/__snapshots__/typeCoercion.test.ts.snap
  packages/@cdktf/hcl2cdk/test/expressionToTs.test.ts
  packages/@cdktf/hcl2cdk/test/iteration.test.ts
  packages/@cdktf/hcl2cdk/test/jsiiLanguage.test.ts
  packages/@cdktf/hcl2cdk/test/references.test.ts
  packages/@cdktf/hcl2cdk/test/tfExpressions.test.ts
  packages/@cdktf/hcl2cdk/test/typeCoercion.test.ts
  packages/@cdktf/hcl2json/lib/bridge.ts
  packages/@cdktf/hcl2json/lib/index.ts
  packages/@cdktf/hcl2json/lib/references.ts
  packages/@cdktf/hcl2json/lib/syntax-tree.ts
  packages/@cdktf/hcl2json/main.go
  packages/@cdktf/hcl2json/test/__snapshots__/expressions.test.ts.snap
Labels: size/xl, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/@cdktf/hcl2json
