Repository hashicorp/terraform-cdk, pull requests merged in 2023-08, with the labels that each got.

#3053 chore(examples): update TS examples to use explicit imports
  examples/typescript/aws-cloudfront-proxy/main.ts
  examples/typescript/aws-kubernetes/main.ts
  examples/typescript/aws-prebuilt/main.ts
  examples/typescript/azure-service-bus-queue-trigger/main.ts
  examples/typescript/azure-service-bus-queue-trigger/package.json
  yarn.lock
Labels: ci/run-examples

#3055 fix(tests): remove only in test suite :sweat_smile:
  packages/@cdktf/hcl2cdk/test/tfExpressions.test.ts
Labels: ci/run-unit/@cdktf/hcl2cdk

#3045 fix: correctly handle if version constraint is defined as star
  packages/@cdktf/commons/src/config.ts
  test/typescript/init-from-tf/__snapshots__/test.ts.snap
  test/typescript/init-from-tf/tf-project/main.tf
Labels: ci/run-integration, ci/run-unit/@cdktf/commons

#3062 fix(lib): improve error message for passing an app to a construct
  packages/cdktf/lib/terraform-stack.ts
  packages/cdktf/test/stack.test.ts
Labels: ci/run-unit/cdktf

#3065 chore: new lookup functionality changes assertion
  test/csharp/edge/test.ts
  test/go/edge/test.ts
  test/java/edge/test.ts
  test/python/edge/test.ts
  test/typescript/edge/test.ts
Labels: ci/run-integration

#3079 chore: fix assertion of java tests
  test/java/edge/test.ts
Labels: ci/run-integration

#3086 chore: Disable windows integration tests temporarily
  .github/workflows/integration.yml
Labels: ci/run-integration
