Repository hashicorp/terraform-cdk, pull requests merged in 2023-10, with the labels that each got.

#3163 fix(hcl2cdk): Try to fix TF checksum errors in tests by running them in band
  packages/@cdktf/hcl2cdk/package.json
Labels: ci/run-unit/@cdktf/hcl2cdk

#3172 fix: Fix partial dependency update for Sentry
  packages/@cdktf/cli-core/package.json
  packages/@cdktf/cli-core/src/lib/error-reporting.ts
  packages/cdktf-cli/package.json
  yarn.lock
Labels: ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#3182 chore: upgrade node-pty dependency to add support for Node.js 20
  packages/@cdktf/cli-core/package.json
  test/package.json
  test/yarn.lock
  yarn.lock
Labels: ci/run-integration, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#3186 chore(examples): change debian image version in gcp example
  examples/typescript/google/main.ts
Labels: ci/run-examples

#3185 fix(provider-generator): java akamai provider generation
  packages/@cdktf/provider-generator/lib/get/generator/models/attribute-model.ts
Labels: ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#3193 fix(lib): correct escaped attribute for moveTo
  CHANGELOG.md
  packages/@cdktf/provider-generator/lib/get/generator/models/attribute-model.ts
Labels: ci/run-unit/@cdktf/provider-generator, ci/provider-integration
