Repository hashicorp/terraform-cdk, pull requests merged in 2023-01, with the labels that each got.

#2453 chore: fix broken GHA version updater
  .github/workflows/gh-action-upgrade.yml
Labels: size/xs

#2424 chore: create TFC/TFE workspace using the Terraform CLI
  packages/@cdktf/cli-core/src/lib/init.ts
  packages/cdktf-cli/src/bin/cmds/helper/init.ts
  packages/cdktf-cli/src/bin/cmds/helper/terraform-cloud-client.ts
  packages/cdktf-cli/src/bin/cmds/init.ts
  packages/cdktf-cli/templates/csharp/.hooks.sscaff.js
  packages/cdktf-cli/templates/go/.hooks.sscaff.js
  packages/cdktf-cli/templates/java/.hooks.sscaff.js
  packages/cdktf-cli/templates/python-pip/.hooks.sscaff.js
  packages/cdktf-cli/templates/python/.hooks.sscaff.js
  packages/cdktf-cli/templates/typescript/.hooks.sscaff.js
  website/docs/cdktf/cli-reference/commands.mdx
Labels: size/m, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2427 chore: Support custom endpoints
  packages/cdktf-cli/src/bin/cmds/helper/terraform-cloud-client.ts
  packages/cdktf-cli/src/test/cmds/helper/terraform-cloud-client.test.ts
Labels: size/m, ci/run-unit/cdktf-cli

#2459 fix(cli): remove newlines from tokens during terraform login
  packages/cdktf-cli/src/bin/cmds/handlers.ts
Labels: ci/run-unit/cdktf-cli, size/xs

#2461 chore: add a notice for minimum supported version to changelog
  CHANGELOG.md
Labels: size/xs

#2446 fix: Adds `environment` to keys to preserve case
  packages/cdktf/lib/util.ts
Labels: ci/run-unit/cdktf

#2462 chore: fix typo in function name
  packages/cdktf/lib/terraform-output.ts
  packages/cdktf/lib/terraform-stack.ts
Labels: ci/run-unit/cdktf, size/xs

#2474 fix: limit concurrency for integration tests to 10 for each windows and linux
  .github/workflows/integration.yml
Labels: size/xs

#2482 fix(tests): change Options -> Config as per #2471
  test/csharp/provider-add-command/Program.cs
  test/csharp/provider-list-command/Program.cs
  test/csharp/provider-upgrade-command/Program.cs
  test/csharp/synth-app/Program.cs
  test/go/edge/main.go
  test/go/provider-add-command/main.go
  test/go/provider-list-command/main.go
  test/go/provider-upgrade-command/main.go
  test/go/synth-app/main.go
Labels: size/s

#2483 chore(docs): fix some docs
  packages/cdktf/lib/app.ts
  website/docs/cdktf/api-reference/csharp.mdx
  website/docs/cdktf/api-reference/go.mdx
  website/docs/cdktf/api-reference/java.mdx
  website/docs/cdktf/api-reference/python.mdx
  website/docs/cdktf/api-reference/typescript.mdx
  website/docs/cdktf/concepts/modules.mdx
Labels: size/s, ci/run-unit/cdktf

#2487 chore: increase parallel limit (10->30) to speed up integration tests
  .github/workflows/integration.yml
Labels: size/xs

#2486 fix: detect destroys on windows / TF version
  packages/@cdktf/cli-core/src/lib/models/__tests__/deploy-machine.test.ts
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
Labels: size/m, ci/run-unit/@cdktf/cli-core

#2493 fix(cli): don't enquote args as they will be escaped and end up in the calls to Terraform
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
  test/test-helper.ts
  test/typescript/variables/test.ts
Labels: ci/run-integration, size/s, ci/run-unit/@cdktf/cli-core

#2307 feat(cli): add -no-color tag
  packages/@cdktf/cli-core/src/lib/cdktf-project.ts
  packages/@cdktf/cli-core/src/lib/cdktf-stack.ts
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
  packages/@cdktf/cli-core/src/lib/models/terraform.ts
  packages/cdktf-cli/src/bin/cdktf.ts
  packages/cdktf-cli/src/bin/cmds/deploy.ts
  packages/cdktf-cli/src/bin/cmds/destroy.ts
  packages/cdktf-cli/src/bin/cmds/diff.ts
  packages/cdktf-cli/src/bin/cmds/handlers.ts
  packages/cdktf-cli/src/bin/cmds/ui/deploy.tsx
  packages/cdktf-cli/src/bin/cmds/ui/destroy.tsx
  packages/cdktf-cli/src/bin/cmds/ui/diff.tsx
  test/csharp/no-color-command-option-test/Program.cs
  test/csharp/no-color-command-option-test/cdktf.json
  test/csharp/no-color-command-option-test/test.ts
  test/go/no-color-command-option-test/cdktf.json
  test/go/no-color-command-option-test/main.go
  test/go/no-color-command-option-test/test.ts
  test/java/no-color-command-option-test/Main.java
  test/java/no-color-command-option-test/cdktf.json
  test/java/no-color-command-option-test/test.ts
  test/java/provider-add-command/test.ts
  test/java/provider-list-command/test.ts
  test/java/provider-upgrade-command/test.ts
  test/package.json
  test/python/no-color-command-option-test/cdktf.json
  test/python/no-color-command-option-test/main.py
  test/python/no-color-command-option-test/test.ts
  test/typescript/no-color-command-option-test/cdktf.json
  test/typescript/no-color-command-option-test/main.ts
  test/typescript/no-color-command-option-test/test.ts
  test/yarn.lock
Labels: ci/run-integration, size/m, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#2502 chore: make info level log a debug level one
  packages/@cdktf/provider-generator/lib/get/constructs-maker.ts
Labels: ci/run-unit/@cdktf/provider-generator, size/xs, ci/provider-integration

#2497 feat(docs): Document `node-gyp` errors if no precompiled binaries are available and the target system misses a native toolchain
  website/docs/cdktf/cli-reference/cli-configuration.mdx
Labels: size/s

#2495 chore: document variable flags
  website/docs/cdktf/cli-reference/commands.mdx
  website/docs/cdktf/concepts/variables-and-outputs.mdx
Labels: size/s

#2498 chore: deprecate feature flags
  CHANGELOG.md
  website/docs/cdktf/create-and-deploy/configuration-file.mdx
  website/docs/cdktf/release/upgrade-guide-v0-15.mdx
Labels: size/s

#2503 chore: update terraform-cloud workspace creation docs
  website/docs/cdktf/create-and-deploy/terraform-cloud.mdx
Labels: size/s

#2505 chore: autoclose older GHA updater PRs
  .github/workflows/gh-action-upgrade.yml
Labels: size/xs

#2504 fix(provider-generator): fix resources named 'provider' breaking the code generation
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/__snapshots__/types.test.ts.snap
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/fixtures/incompatible-resource-names.test.fixture.json
  packages/@cdktf/provider-generator/lib/get/__tests__/generator/types.test.ts
  packages/@cdktf/provider-generator/lib/get/generator/resource-parser.ts
Labels: size/m, ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#2524 fix: Revert 8eb985b3ca1398e85c538b745dc32a250c918781
  packages/@cdktf/cli-core/src/lib/cdktf-project.ts
  packages/@cdktf/cli-core/src/lib/cdktf-stack.ts
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
  packages/@cdktf/cli-core/src/lib/models/terraform.ts
Labels: size/m, ci/run-unit/@cdktf/cli-core

#2529 chore: release 0.15.1
  CHANGELOG.md
  package.json
Labels: size/s

#2530 fix(provider-generator): use class based map abstractions
  packages/@cdktf/provider-generator/lib/get/generator/emitter/attributes-emitter.ts
  packages/cdktf/lib/terraform-resource.ts
  test/provider-tests/providers.json
Labels: size/s, ci/run-unit/@cdktf/provider-generator, ci/run-unit/cdktf, ci/provider-integration

#2531 feat: create a plan file for non-TFC runs
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
  packages/@cdktf/cli-core/src/lib/synth-stack.ts
Labels: size/s, ci/run-unit/@cdktf/cli-core

#2536 fix(lib): don't use Fn.set on tagged cloud backend
  packages/cdktf/lib/backends/cloud-backend.ts
Labels: ci/run-unit/cdktf, size/xs

#2537 chore: fill out homebrew pr body
  .github/workflows/release.yml
Labels: size/xs

#2485 chore: support soft sentinel overrides
  packages/@cdktf/cli-core/src/lib/cdktf-project-io-handler.ts
  packages/@cdktf/cli-core/src/lib/cdktf-project.ts
  packages/@cdktf/cli-core/src/lib/cdktf-stack.ts
  packages/@cdktf/cli-core/src/lib/helpers/stack-helpers.ts
  packages/@cdktf/cli-core/src/lib/models/__tests__/deploy-machine.test.ts
  packages/@cdktf/cli-core/src/lib/models/deploy-machine.ts
  packages/@cdktf/cli-core/src/lib/models/terraform-cli.ts
  packages/@cdktf/cli-core/src/lib/models/terraform.ts
  packages/@cdktf/cli-core/src/test/lib/cdktf-project.test.ts
  packages/@cdktf/cli-core/src/test/models/deploy-machine.test.ts
  packages/cdktf-cli/src/bin/cmds/ui/components/bottom-bars/override.tsx
  packages/cdktf-cli/src/bin/cmds/ui/components/index.ts
  packages/cdktf-cli/src/bin/cmds/ui/deploy.tsx
  packages/cdktf-cli/src/bin/cmds/ui/destroy.tsx
  packages/cdktf-cli/src/bin/cmds/ui/hooks/cdktf-project.ts
  packages/cdktf/lib/terraform-element.ts
  packages/cdktf/lib/terraform-provider.ts
Labels: size/xl, ci/run-unit/cdktf-cli, ci/run-unit/cdktf, ci/run-unit/@cdktf/cli-core

#2542 chore: actually autoclose older GHA updater PRs
  .github/workflows/gh-action-upgrade.yml
Labels: size/s

#2543 fix: cdktf login issues
  packages/cdktf-cli/src/bin/cmds/__tests__/handlers-login.test.ts
  packages/cdktf-cli/src/bin/cmds/handlers.ts
Labels: size/s, ci/run-unit/cdktf-cli

#2544 chore: release 0.15.2
  CHANGELOG.md
  package.json
Labels: size/s

#2553 fix: rename CloudBackendProps to CloudBackendConfig in templates
  packages/@cdktf/cli-core/templates/csharp/.hooks.sscaff.js
  packages/@cdktf/cli-core/templates/go/.hooks.sscaff.js
  packages/@cdktf/cli-core/templates/java/.hooks.sscaff.js
  packages/cdktf-cli/templates/csharp/.hooks.sscaff.js
  packages/cdktf-cli/templates/go/.hooks.sscaff.js
  packages/cdktf-cli/templates/java/.hooks.sscaff.js
Labels: size/s

#2539 feat: Add a wrap in stack optional param to cdktf convert
  packages/cdktf-cli/src/bin/cmds/convert.ts
  packages/cdktf-cli/src/bin/cmds/handlers.ts
  packages/cdktf-cli/src/bin/cmds/helper/wrap-in-stack.ts
  packages/cdktf-cli/templates/convert/stack.cs
  packages/cdktf-cli/templates/convert/stack.java
  packages/cdktf-cli/templates/convert/stack.py
  packages/cdktf-cli/templates/convert/stack.ts
  website/docs/cdktf/cli-reference/commands.mdx
Labels: size/m, ci/run-unit/cdktf-cli

#2439 feat(docs): Convert some code snippets in docs to Golang
  examples/go/documentation/assets.go
  examples/go/documentation/cdktf.json
  examples/go/documentation/constructs.go
  examples/go/documentation/datasources.go
  examples/go/documentation/go.mod
  examples/go/documentation/go.sum
  examples/go/documentation/main.go
  examples/go/documentation/package.json
  go.work
  go.work.sum
  packages/@cdktf/hcl2json/build-go.sh
  tools/documentation-code-snippets/nodemon.json
  tools/documentation-code-snippets/package.json
  website/docs/cdktf/concepts/assets.mdx
  website/docs/cdktf/concepts/constructs.mdx
  website/docs/cdktf/concepts/data-sources.mdx
Labels: ci/run-examples, size/m, ci/run-unit/@cdktf/hcl2json

#2556 feat: add cache flag for prettier to speed up subsequent runs
  package.json
Labels: size/xs

#2445 feat(docs): Translate Aspect example to Go
  examples/go/documentation/aspects.go
  examples/go/documentation/go.mod
  examples/go/documentation/go.sum
  examples/go/documentation/main.go
  go.work.sum
  website/docs/cdktf/concepts/aspects.mdx
Labels: ci/run-examples, size/m

#2563 fix(docs): add missing java remote backend example
  examples/java/documentation/src/main/java/com/mycompany/app/Main.java
  examples/java/documentation/src/main/java/com/mycompany/app/remoteBackends/MainRemoteBackend.java
  website/docs/cdktf/concepts/remote-backends.mdx
Labels: ci/run-examples, size/s

#2561 fix(docs): properties in create module example use snake case
  examples/csharp/documentation/TerraformHclModuleStack.cs
  examples/java/documentation/src/main/java/com/mycompany/app/modules/MainCreateModules.java
  examples/python/documentation/modules.py
  examples/typescript/documentation/modules.ts
  website/docs/cdktf/concepts/modules.mdx
Labels: ci/run-examples, size/s

#2562 fix: use correctly named syntax in comments
  packages/cdktf-cli/templates/csharp/TestProgram.cs
Labels: size/s, ci/run-unit/cdktf-cli

#2479 chore: Update contributing
  CONTRIBUTING.md
Labels: size/s
