Repository hashicorp/terraform-cdk, pull requests merged in 2023-11, with the labels that each got.

#3200 chore: update zod
  packages/@cdktf/cli-core/package.json
  packages/@cdktf/hcl2cdk/package.json
  packages/cdktf-cli/package.json
  yarn.lock
Labels: ci/run-integration, ci/run-unit/@cdktf/hcl2cdk, ci/run-unit/cdktf-cli, ci/run-unit/@cdktf/cli-core

#3248 chore: Upgrade dependencies for @cdktf/hcl2json
  packages/@cdktf/hcl2json/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/@cdktf/hcl2json

#3241 chore: Upgrade dependencies for @cdktf/commons
  packages/@cdktf/commons/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/@cdktf/commons

#3246 chore: Upgrade dependencies for @cdktf/provider-schema
  packages/@cdktf/provider-schema/package.json
  yarn.lock
Labels: dependencies, auto-approve

#3247 chore: Upgrade dependencies for cdktf
  packages/cdktf/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/cdktf

#3255 fix(cli): Don't send telemetry events if request body is larger than 8KB
  packages/@cdktf/commons/src/checkpoint.ts
Labels: ci/run-unit/@cdktf/commons

#3244 chore: Upgrade dependencies for @cdktf/cli-core
  packages/@cdktf/cli-core/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/@cdktf/cli-core

#3266 chore: Upgrade dependencies for @cdktf/cli-core
  packages/@cdktf/cli-core/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/@cdktf/cli-core

#3268 chore: Upgrade dependencies for @cdktf/commons
  packages/@cdktf/commons/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/@cdktf/commons

#3252 chore: Upgrade dependencies for cdktf
  packages/cdktf/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/cdktf

#3270 chore: dependency check commons package
  .github/workflows/pr-depcheck.yml
  packages/@cdktf/commons/package.json
  yarn.lock
Labels: ci/run-all, ci/run-unit/@cdktf/commons

#3271 chore: fix dependencies for provider packages
  .github/workflows/pr-depcheck.yml
  packages/@cdktf/provider-generator/package.json
  packages/@cdktf/provider-schema/package.json
Labels: ci/run-all, ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#3276 chore: add depcheck for cdktf lib
  .github/workflows/pr-depcheck.yml
  packages/cdktf/test/stack.test.ts
Labels: ci/run-unit/cdktf

#3275 chore: add depcheck for hcl2cdk
  .github/workflows/pr-depcheck.yml
  packages/@cdktf/hcl2cdk/package.json
  yarn.lock
Labels: ci/run-all, ci/run-unit/@cdktf/hcl2cdk

#3282 chore: Upgrade dependencies for @cdktf/commons
  packages/@cdktf/commons/package.json
  yarn.lock
Labels: dependencies, auto-approve, ci/run-unit/@cdktf/commons

#3285 fix(provider-generator): fix oci provider by skipping attributes that conflict after being camel cased
  packages/@cdktf/provider-generator/lib/get/generator/resource-parser.ts
Labels: ci/run-unit/@cdktf/provider-generator, ci/provider-integration

#3289 fix(tests): Update provider version in C# snapshot test
  test/csharp/provider-list-command/__snapshots__/test.ts.snap
Labels: ci/run-all, ci/run-integration

#3264 fix(lib): expose `conditional`
  packages/cdktf/lib/terraform-functions.ts
  packages/cdktf/test/functions.test.ts
Labels: ci/run-unit/cdktf

#3300 fix(lib): improve error messages for token resolution
  packages/cdktf/lib/tokens/private/resolve.ts
Labels: ci/run-unit/cdktf

#3308 fix(cli): error message for non-existent tf cloud orgs
  packages/cdktf-cli/src/bin/cmds/helper/init.ts
Labels: ci/run-unit/cdktf-cli
